extends layout

block content
	h1= details.name
	h5 Folder ID: #{details._id} 
	h5 Owned by: #{owner} 
	each detail, i in details.files
		p
			span #{detail.name}
			br
			a(href=detail.webViewLink)= detail.webViewLink
	hr
	a.btn.btn-default(href='/details/edit/'+details._id) Edit
	a.btn.btn-danger.delete-detail(href='#', data-id=details._id) Delete
